[network]
host = "127.0.0.1" # host for server
port = 4921 # port for server

[gatehouse]
thread-count = 128 # count of gatehouse's gates

[caching]
size = 1024 # key size of cache

[threading]
thread-limit = 1024 # number of threads of server

[heartbeat]
hb-init-interal = 500 # initial hearbeat interval
hb-max-interval = 500 # max hearbeat interval
hb-min-interval = 500 # min hearbeat interval
hb-timeout = 500 # hearbeat timeout

[redis]
url = "your redis url, e.g. redis://:password@localhost:6310/0"
max-connections = 27 # default for redislab

[sentry]
dsn = "your sentry dsn"
traces-sample-rate = 1.0
profiles-sample-rate = 1.0
